<div id="menu" class="well well-sm">
    <div id="login">
        Anmelden:
        {{input type='password' value=password placeholder="Passwort"}}
    </div>

    {{input type="text" placeholder='Anzahl der Plätze' value=numberPlaces}}
    &nbsp;{{input type="checkbox" checked=tbodyLargeFont}} Große Schrift
</div>

<table class="table table-striped table-hover lapTable verticalmiddle">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody {{bind-attr class=tbodyClass}}>
    {{#each groupedResults}}
        <tr>
            <td colspan="8" class="group"><strong> Gesamtwertung {{type}}</strong></td>
        </tr>
        {{#each car in cars}}
            <tr>
                <td class="startnummer"><strong>{{car.position}})</strong></td>
                <td class="startnummer"><strong>{{car.startnummer}}</strong></td>
                <td class="startnummer"><strong>{{car.name}}</strong></td>
                <td class="startnummer"><strong>{{car.car}}</strong></td>
                <td class="startnummer"><strong>{{car.year}}</strong></td>
                <td>
                    <strong>&#916; = {{car.delta}}&nbsp;s</strong>
                </td>
                <td>
                    <strong>v = {{car.velocity}}&nbsp;km/h</strong>
                </td>
                <td>
                    {{#if car.filename}}
                        <img width="150" {{bind-attr src=car.filename}}>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    {{/each}}
    </tbody>
</table>
